/* DailyRevenueReport.module.css */

.container {
    padding: 20px; /* Padding dla kontenera */
    background-color: #f9f9f9; /* Kolor tła */
    border-radius: 8px; /* Zaokrąglenie krawędzi */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    margin: auto; /* Wyśrodkowanie kontenera */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
}

h2 {
    text-align: center; /* Wyśrodkowanie nagłówka */
    color: #333; /* Kolor nagłówka */
    margin-bottom: 20px; /* Margines dolny */
}

label {
    font-weight: bold; /* Pogrubienie etykiety */
    margin-right: 10px; /* Odstęp od elementu input */
}

input[type="date"] {
    padding: 5px; /* Padding wewnętrzny */
    border-radius: 5px; /* Zaokrąglenie krawędzi */
    border: 1px solid #ccc; /* Ramka */
    width: 100%; /* Pełna szerokość */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cień */
}

input[type="date"]:focus {
    border-color: #007bff; /* Kolor ramki po focie */
    outline: none; /* Usunięcie domyślnego konturu */
}

.button {
    margin-top: 20px; /* Margines dla przycisku */
    width: 100%; /* Pełna szerokość */
}

.alert {
    margin-top: 20px; /* Margines dla alertów */
}
@media (max-width: 768px) {
    .container {
        padding: 15px; /* Mniejszy padding na małych ekranach */
    }

    h2 {
        font-size: 1.5rem; /* Zmniejszony rozmiar nagłówka */
    }

    input[type="date"] {
        padding: 8px; /* Miększy padding w polu daty */
    }

    .button {
        margin-top: 10px; /* Mniejszy margines dla przycisków */
    }
}