.FormRow {
    background-color: white;
    border-style: groove;
    font-size: large;
    margin: auto 100px auto 100px;
    padding: 20px;
}
.FormRow:hover {
    background-color: #f0f0f0; /* Efekt hover dla wierszy */
}