
.Equipment {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 9px;
    max-width: 800px; /* Utrzymanie maksymalnej szerokości kontenera */
    margin: 0 auto; /* Wycentrowanie kontenera */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień dla kontenera */
}

h2 {
    text-align: center; /* Wyśrodkowanie nagłówka */
    color: #333; /* Kolor nagłówka */
    margin-bottom: 20px; /* Margines dolny */
}

button {
    background-color: #007bff; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    padding: 10px 20px; /* Padding przycisku */
    border-radius: 5px; /* Zaokrąglenie krawędzi */
    border: none; /* Usunięcie domyślnej ramki */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    transition: background-color 0.3s ease; /* Płynna zmiana koloru tła */
}

button:hover {
    background-color: #0056b3; /* Kolor tła przycisku przy najechaniu */
}

.EquipmentTableHeader {
    display: grid; /* Użycie siatki dla nagłówka */
    background-color: #fff; /* Tło nagłówka */
    padding: 15px; /* Padding dla nagłówka */
    border-bottom: 2px solid #ccc; /* Dolna ramka nagłówka */
    border-radius: 5px 5px 0 0; /* Zaokrąglenie górnych krawędzi */
    color: #333; /* Kolor tekstu */
    font-weight: bold; /* Pogrubienie tekstu nagłówka */
}

.EquipmentTableRow {
    display: flex; /* Use flexbox for rows */
    align-items: center; /* Vertically center items in the row */
    background-color: #fff; /* Background color for rows */
    padding: 15px; /* Padding for rows */
    border-bottom: 2px solid #ccc; /* Bottom border for rows */
    color: #333; /* Text color */
}
.checkbox-style {
    margin: 0; /* Reset margin */
    align-self: center; /* Center the checkbox vertically within the flex container */
    vertical-align: middle; /* Align it with the text */
}


.EquipmentTableRow:hover {
    background-color: #f1f1f1; /* Efekt hover dla wierszy */
}

/* Media Queries */
@media (max-width: 768px) {
    .EquipmentTableHeader, .EquipmentTableRow {
        grid-template-columns: 1fr; /* Na mniejszych ekranach kolumny zajmują pełną szerokość */
    }

    button {
        width: 100%; /* Przyciski zajmują pełną szerokość */
        margin-bottom: 10px; /* Margines dolny dla przycisków */
    }
}