.AppHeader {
    background-color: var(--header);
    border-color: var(--border-color);
    height: 50px;
    width: calc(97vw - 8px);
    position: sticky; /* Ustawienie jako sticky */
    top: 0; /* Przyklejenie do góry */
    z-index: 1000; /* Upewnij się, że nagłówek jest na wierzchu */
    display: flex;
    align-items: center; /* Wyśrodkowanie w pionie */
    margin: auto;
}

.HeaderLeft {
    display: flex; /* Umożliwia ustawienie elementów w linii */
    align-items: center; /* Wyśrodkowanie w pionie */
    margin-left: 20px;
    flex: 1;
}

.HeaderTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth hover effect */
}

.HeaderTitle:hover {
    color: #ffcc00; /* Zmiana koloru tekstu przy najechaniu */
}

.HeaderRight {
    margin-left: auto; /* Wyrównanie do prawej */
    display: flex; /* Umożliwia ustawienie elementów w linii */
    flex-wrap: wrap; /* Pozwala przyciskom na złamanie w nowym wierszu */
    justify-content: flex-end; /* Wyrównanie do prawej */
}

.HeaderRight div {
    margin: 15px 30px 20px;
    display: inline-block;
    font-size: large;
    color: azure;
}

.HeaderUser {
    margin-left: 20px;
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.9; /* Lekko przyciemniony tekst */
}

@media print {
    .AppHeader {
        display: none; /* Ukryj nagłówek aplikacji przy drukowaniu */
    }
}

@media (max-width: 768px) { /* Dla ekranów o szerokości 768px i mniejszych */
    .AppHeader {
        height: auto; /* Dostosuj wysokość dla mniejszych ekranów */
        flex-direction: column; /* Zmiana kierunku na kolumnę */
        align-items: flex-start; /* Wyrównanie do początku */
    }

    .HeaderLeft {
        margin: 10px 0; /* Dostosowanie marginesów */
        flex: none; /* Resetowanie elastyczności dla HeaderLeft */
        width: 100%; /* Upewnij się, że element zajmuje pełną szerokość */
    }

    .HeaderRight {
        justify-content: center; /* Wyśrodkowanie przycisków */
        flex-direction: row; /* Utrzymanie wiersza */
        width: 100%; /* Szerokość na 100% */
    }

    .HeaderRight div {
        margin: 5px; /* Zmniejszenie marginesów na małych ekranach */
        font-size: medium; /* Dostosowanie rozmiaru czcionki */
    }
}