.mt-3 {
    margin-top: 1rem; /* Standard margin */
}

.me-2 {
    margin-right: 0.5rem; /* Margin for Bootstrap button separation */
}

/* Styles for returned rows */
.bg-success {
    background-color: #28a745 !important;
}

@media (max-width: 768px) {
    .container {
        padding: 15px; /* Mniejszy padding na małych ekranach */
    }

    h2 {
        font-size: 1.5rem; /* Zmniejszony rozmiar nagłówka */
    }

    /* Użycie większego paddingu dla kolumn w nagłówku */
    .bg-light {
        padding: 10px; /* Padding dla nagłówka tabeli */
    }

    /* Poprawienie paddingu dla wszystkich wierszy tabeli */
    .py-2 {
        padding-top: 8px; /* Mniejszy padding górny */
        padding-bottom: 8px; /* Mniejszy padding dolny */
    }
}

