/* Renting.module.css */
.Form {
    max-width: 800px;
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding around the form */
    border: 1px solid #ccc; /* Optional: border around the form */
    border-radius: 8px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
}

.Button {
    margin-bottom: 20px; /* Space between button rows */
    text-align: center; /* Center-align buttons */
}

.RentingButton {
    width: 100%; /* Full-width buttons */
    padding: 10px; /* Padding for buttons */
    font-size: 16px; /* Font size */
}

.FormRow {
    margin-bottom: 15px; /* Space between form rows */
}

.formInputLabel {
    display: block; /* Display label as block element */
    margin-bottom: 5px; /* Space below label */
    font-weight: bold; /* Bold label text */
}

.formInputField {
    width: 100%; /* Full width for input fields and select */
    padding: 10px; /* Padding */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in width */
    font-size: 14px; /* Font size */
}


input[type="checkbox"] {

    transform: translateY(25px); /* Dostosowanie położenia checkboxa w górę */
}



@media (max-width: 768px) {
    .Form {
        padding: 10px; /* Zmniejszone padding dla mniejszych ekranów */
        border-radius: 5px; /* Dostosowanie promieni krzywizny */
    }

    .FormRow {
        flex-direction: column; /* Zmiana układu na kolumnowy na mniejszych ekranach */
        margin-bottom: 15px; /* Zmniejszenie marginesu */
    }

    .form-input-label {
        font-size: 14px; /* Mniejszy rozmiar czcionki dla etykiet */
    }

    .form-input-field {
        font-size: 16px; /* Mniejszy rozmiar czcionki dla pól formularza */
        padding: 8px; /* Większy padding dla lepszej interakcji */
    }

    .EquipmentList {
        max-width: 100%; /* Rozszerzenie listy do 100% dostępnej szerokości */
    }

    .EquipmentList div {
        flex-direction: row; /* Utrzymanie elementów w wierszu */
        align-items: center; /* Wyśrodkowanie checkboxa z tekstem */
    }

    .Button {
        margin-top: 10px; /* Zmniejszenie górnego marginesu przycisków w mobilnych */
    }

    .RentingButton, .Button button {
        width: 100%; /* Przycisk zajmuje 100% szerokości */
        padding: 12px; /* Większy padding dla wygodnej interakcji */
        font-size: 18px; /* Większy rozmiar czcionki dla przycisków */
    }

    p {
        font-size: 16px; /* Utrzymanie czytelności powiadomień */
    }
}
