/* Renting.module.css */
.Form {
    /* existing styles */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.Form:hover {
    background-color: #ffffff; /* Changes background color on hover */
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1); /* Slightly enhance the shadow effect */
}

.form-input-field:hover {
    border: 1px solid #007bff; /* Focused border color */
}

.RentingButton {
    /* existing styles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.RentingButton:active {
    background-color: #0056b3; /* Darker color when button is pressed */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Improved Checkbox Appearance */
.EquipmentList input[type="checkbox"] {
    transform: scale(1.5); /* Make checkboxes larger */
    margin-right: 10px; /* Space between checkbox and label */
}
@media (max-width: 768px) {
    .Form {
        padding: 10px; /* Zmniejszone padding dla mniejszych ekranów */
        border-radius: 5px; /* Dostosowanie promieni krzywizny */
    }

    .FormRow {
        flex-direction: column; /* Zmiana układu na kolumnowy na mniejszych ekranach */
        margin-bottom: 15px; /* Zmniejszenie marginesu */
    }

    .form-input-label {
        font-size: 14px; /* Mniejszy rozmiar czcionki dla etykiet */
    }

    .form-input-field {
        font-size: 16px; /* Mniejszy rozmiar czcionki dla pól formularza */
        padding: 8px; /* Większy padding dla lepszej interakcji */
    }

    .EquipmentList {
        max-width: 100%; /* Rozszerzenie listy do 100% dostępnej szerokości */
    }

    .EquipmentList div {
        flex-direction: row; /* Utrzymanie elementów w wierszu */
        align-items: center; /* Wyśrodkowanie checkboxa z tekstem */
    }

    .Button {
        margin-top: 10px; /* Zmniejszenie górnego marginesu przycisków w mobilnych */
    }

    .RentingButton, .Button button {
        width: 100%; /* Przycisk zajmuje 100% szerokości */
        padding: 12px; /* Większy padding dla wygodnej interakcji */
        font-size: 18px; /* Większy rozmiar czcionki dla przycisków */
    }

    p {
        font-size: 16px; /* Utrzymanie czytelności powiadomień */
    }
}
