

.Label{
    font-size: large;
    color: lightgoldenrodyellow;
    margin: 0px 680px 0px 80px;

}
@media print {
    .Label{
        display :none;
    }

    .FormButtonSubmit {
        display: none; /* Opcjonalnie, ukryj przycisk drukowania */
    }
}
