
.row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.col-4 {
    width: 33.33%;
}

.nav {
    margin-bottom: 20px;
}

.nav-item {
    flex: 1;
}

.nav-link {
    text-align: center;
    width: 100%;
}

.nav-link.active {
    background-color: #007bff;
    color: white;

}

.form-outline {
    position: relative;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

.form-label {
    position: absolute;
    left: 10px;
    top: -10px;
    font-size: 14px;
    color: #343a40;
}

.btn-primary {
    background-color: #007bff; /* Domyślny kolor */
    color: white; /* Kolor tekstu */
    border: lawngreen; /* Brak obramowania */
    padding: 10px 20px; /* Odstępy wewnętrzne */
    border-radius: 5px; /* Zaokrąglone rogi */
    transition: background-color 0.3s; /* Gładka zmiana koloru */
}

.btn-primary:hover {
    background-color: #0056b3; /* Przyciemnienie koloru przy najechaniu */
}